.button
  display: block
  padding: 14px 20px
  border: 1px solid #e5ddd5
  background-color: transparent
  color: #000
  text-align: center
  text-decoration: none
  text-transform: uppercase
  font-weight: 700
  font-size: 18px
  font-family: "PT Sans Narrow", sans-serif
  cursor: pointer

  &:hover
    border-color: #d2c4b6

.button--width-100
  width: 100%

.button--gray
  border-color: #3e3e3e
  color: #fff

  &:hover
    border-color: #585858

.button--brown
  border: none
  background-color: #816550
  color: #fff

  &:hover
    background-color: #685140
