@import "../vars"

.login-form
  display: none
  width: 320px
  position: absolute
  top: 84px
  left: 50%
  margin-left: -160px
  z-index: 30

/* Checkbox start */
.login-form__checkbox
  display: none

.login-form__checkbox:checked + .checkbox::before
  content: "\2713"

.login-form__checkbox:checked ~ .checkbox::before
  content: "\2713"
/* Checkbox end */

.login-form__wrapper
  display: flex
  flex-direction: column
  flex-direction: row
  flex-wrap: wrap
  padding: 35px 35px
  text-align: center
  color: #000
  background: #f9f5f2
  box-shadow: 0 0 40px 4px

.login-form__title
  width: 100%
  margin-top: 0
  margin-bottom: 15px
  font-size: 30px
  text-transform: uppercase

.login-form__info
  width: 100%
  margin-bottom: 15px

.login-form__login,
.login-form__password
  position: relative
  width: 100%
  padding: 15px 20px
  margin-bottom: 10px
  font-family: "PT Sans Narrow", sans-serif
  border: 1px solid #e5ddd5
  outline: none

  &::-webkit-input-placeholder
    color: #000

  &:focus
    border-color: #beaa96

.login-form__remember-user
  width: 100%
  padding-left: 50px
  margin-bottom: 15px
  text-align: left

.login-form__restore-password
  width: 100%
  margin-bottom: 15px
  color: #000
  text-align: left
  text-decoration: none

  &:hover
    text-decoration: underline
    color: #816550

.login-form--opened
  display: inline-block

.login-form__close
  position: absolute
  top: 5px
  right: 5px
  width: 32px
  height: 32px
  cursor: pointer
  font-size: 0

  &::before,
  &::after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    margin-left: -18px
    width: 36px
    height: 3px
    background: #000

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)


@media #{$tablet}
  .login-form
    width: 460px
    margin-left: -230px

  .login-form__wrapper
    padding: 40px 60px 60px 60px

  .login-form__title
    font-size: 40px

  .login-form__info
    margin-bottom: 25px

  .login-form__login,
  .login-form__password
    padding: 20px 25px
    font-size: 24px

  .login-form__password
    margin-bottom: 25px

  .login-form__remember-user
    width: 50%
    margin-bottom: 25px

  .login-form__restore-password
    width: 50%
    line-height: 35px
    text-align: right
    margin-bottom: 25px
