@import "../vars"
@import "../mixins"

.news
  background-color: #f9f5f2
  color: #000

.news__wrapper
  @include container

  padding: 40px 0
  padding-top: 70px
  border-bottom: 1px solid #e5ddd5

.news__title
  margin-top: 0
  text-align: center
  text-transform: uppercase
  font-size: 30px

.news__items
  padding: 0
  list-style: none

.news__item
  position: relative
  display: flex
  margin-left: 70px
  padding: 15px 0
  min-height: 70px

  &:first-child
    border-bottom: 1px solid #e5ddd5

  &:last-child
    display: none

.news__date
  position: absolute
  top: 45px
  left: -70px
  display: block
  margin-top: -25px
  padding-top: 4px
  width: 50px
  height: 50px
  background: #000
  color: #fff
  text-align: center
  line-height: .7

  &::after
    position: absolute
    bottom: -35px
    left: 0
    width: 0
    border: 25px solid transparent
    border-top: 10px solid #000
    content: ""

.news__number
  font-size: 30px
  line-height: 1

.news__text
  margin: 0
  font-size: 18px
  line-height: 1.5

@media #{$tablet}
  .news__wrapper
    position: relative
    padding: 75px 0

    .news__title
      text-align: left
      font-size: 40px

    .news__to-all
      position: absolute
      top: 75px
      right: 0

    .news__items
      display: flex

    .news__item
      padding-right: 30px

      &:first-child
        border-bottom: none

@media #{$desktop}
  .news__wrapper
    padding-top: 100px

  .news__title
    margin-left: 70px

  .news__to-all
    top: 100px

  .news__item
    padding-right: 30px

    &:last-child
      display: block
