@import "../vars"
@import "../mixins"

.stats__header
  padding: 20px
  background: #fff
  color: #000
  text-align: center

.stats__slogan
  text-transform: uppercase
  font-weight: 700
  font-size: 30px

.stats__intro
  font-size: 20px

.stats__items
  width: 100%
  border-collapse: collapse

.stats__item
  background-color: #353535
  color: #fff

.stats__value
  padding: 20px
  padding-right: 0
  width: 55%
  font-weight: 700
  font-size: 40px

.stats__field
  padding: 18px
  padding-left: 0
  width: 45%
  text-align: right
  font-size: 18px

.stats__legend
  padding: 20px
  background-color: #353535
  color: #8c8c8c
  text-align: center
  font-size: 18px

@media #{$mobile-only}
  .stats__legend--top
    display: none

  .stats__item:nth-child(2n)
    background-color: #5b5b5b

@media #{$tablet}
  .stats__wrapper
    @include container

  .stats__header
    position: relative
    display: flex
    flex-wrap: wrap
    margin-top: -187px
    padding: 30px
    min-height: 187px

    &::before
      position: absolute
      top: 40px
      left: -30px
      border: 15px solid transparent
      border-top: 15px solid #fff
      border-right: 15px solid #fff
      content: ""

  .stats__slogan
    margin-bottom: 15px
    width: 50%
    text-align: left
    text-transform: none
    font-size: 40px

  .stats__intro
    margin: 0
    padding-top: 15px
    padding-right: 10px
    padding-left: 30px
    width: 50%
    text-align: left
    font-size: 20px

  .stats__legend--top
    padding: 0
    width: 50%
    background-color: #fff
    color: #b3b3b3
    text-align: left

  .stats__tbody
    display: flex
    flex-wrap: wrap

  .stats__item
    display: flex
    flex-direction: column
    padding: 30px
    width: 50%

    &:nth-child(4n+1),
    &:nth-child(4n)
      background-color: #424242

    &:nth-child(4n+2)
     background-color: #4f4f4f

    &:last-child
      display: none

  .stats__value
    padding: 0
    width: 100%
    font-size: 72px

  .stats__field
    padding: 0
    width: 100%
    text-align: left
    font-size: 20px

@media #{$desktop}
  .stats__wrapper
    display: flex
    margin-top: -165px

  .stats__header
    display: flex
    flex-direction: column
    margin-top: 0
    width: 33.3%

  .stats__items
    width: 66.6%

  .stats__slogan
    margin-bottom: 30px
    width: 100%

  .stats__intro
    padding: 0
    width: 100%

  .stats__legend--top
    margin-top: auto
    width: 100%
